name: "Build"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:  
  build:      
    name: Build & Release 
    runs-on: macos-latest 

    steps:
        #1 Checkout Repository
      - name: Checkout Repository
        uses: actions/checkout@v3

        #2 Setup Java
      - name: Set Up Java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'oracle'
          java-version: '17'

        #3 Setup Flutter
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.3'
          channel: 'stable'

        #4 clean Flutter    
      - name: Install dependencies Node
        run: npm install
  
        #5 clean Flutter 
      - name: Clean Flutter
        run: flutter clean

        #6 Install Dependencies
      - name: Install Dependencies Flutter
        run: flutter pub get

        #7 Install Dependencies Node
      - name: Set up Node
        uses: actions/setup-node@v4
        
        #8 Run Tests
      - name: Run tests
        run: npx jest --coverage
        
        #9 Codecov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}